<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="<%= htmlWebpackPlugin.options.PUBLIC_URL %>/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="G'day Messenger" />
    <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.options.PUBLIC_URL %>/logo_512x512.png" />
    <link rel="manifest" href="<%= htmlWebpackPlugin.options.PUBLIC_URL %>/manifest.json" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link
      type="text/css"
      rel="stylesheet"
      href="<%= htmlWebpackPlugin.options.PUBLIC_URL %>/css/materialize.min.css"
      media="screen,projection"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="<%= htmlWebpackPlugin.options.PUBLIC_URL %>/css/styles.css"
      media="screen,projection"
    />

    <title>Build a Book</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Build a Book</a>
      </div>
    </nav>

    <div id="screen-home">
      <div class="container">
        <div class="card grey lighten-4">
          <div class="card-content">
            <div class="row">
              <div class="input-field col s6">
                <input id="username" />
                <label for="username">Username</label>
              </div>
              <div class="row mt4">
                <div class="col s12 center-align">
                  <a class="waves-effect waves-light btn" id="play-btn">Play</a>
                </div>
              </div>
              <div class="row mt4">
                <div class="col s12 center-align">
                  <a class="waves-effect waves-light btn" id="host-private-game-btn">Host Private Game</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="screen-game">
      <h4 class="center-align">Your prompt:</h4>
      <h2 class="center-align">"Once upon a time there lived a frog and a tiger"</h2>

      <div class="container">
        <div class="main">
          <div class="canvas-container">
            <canvas id="player-canvas"></canvas>
            <canvas id="game-canvas"></canvas>
          </div>
        </div>
        <div class="canvas-tools">
          <div class="size-controls">
            <a class="btn-floating"><i class="material-icons circle-sml">brightness_1</i></a>
            <a class="btn-floating"><i class="material-icons circle-med">brightness_1</i></a>
            <a class="btn-floating"><i class="material-icons circle-lrg">brightness_1</i></a>
            <a class="btn-floating"><i class="material-icons circle-xlg">brightness_1</i></a>
          </div>
          <div class="color-controls">
            <a class="btn-floating"><i class="material-icons swatch-red">brush</i></a>
            <a class="btn-floating"><i class="material-icons swatch-orange">brush</i></a>
            <a class="btn-floating"><i class="material-icons swatch-yellow">brush</i></a>
            <a class="btn-floating"><i class="material-icons swatch-green">brush</i></a>
            <a class="btn-floating"><i class="material-icons swatch-blue">brush</i></a>
            <a class="btn-floating"><i class="material-icons swatch-indigo">brush</i></a>
            <a class="btn-floating"><i class="material-icons swatch-violet">brush</i></a>
            <a class="btn-floating"><i class="material-icons swatch-brown">brush</i></a>
            <a class="btn-floating"><i class="material-icons swatch-black">brush</i></a>
            <a class="btn-floating"><i class="material-icons swatch-white">brush</i></a>
          </div>
        </div>
        <div class="reset-controls">
          <a class="waves-effect waves-light btn">Reset</a>
        </div>
      </div>
    </div>

    <div id="screen-lobby">
      <div class="container">
        <div class="row">
          <div class="col s6">
            <h4 class="center-align">Settings</h4>
            <div class="card grey lighten-4">
              <div class="card-content">
                <div class="row">
                  <form class="col s12">
                    <div class="row">
                      <div class="input-field col s6">
                        <input value="6" id="num_pages" type="number" class="validate" />
                        <label for="num_pages">Pages</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s6">
                        <input value="30" id="draw_time" type="number" class="validate" />
                        <label for="draw_time">Drawing time (seconds)</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <input
                          placeholder="Once upon a time in...."
                          id="starting_sentence"
                          type="text"
                          class="validate"
                        />
                        <label for="starting_sentence">Starting Prompt</label>
                      </div>
                    </div>
                    <div class="row mt4">
                      <div class="col s12 center-align">
                        <a class="waves-effect waves-light btn" id="start-btn">Start Game</a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col s6">
            <h4 class="center-align">Players</h4>
            <div class="card grey lighten-4">
              <div class="card-content" id="lobby-players-list">
                <div class="row">
                  <a class="btn-floating"><i class="material-icons">person</i></a>
                  <span class="ml2">Player Name</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 center-align">
          <a class="waves-effect waves-light btn" id="invite-btn">Copy invite link</a>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>
